/* Coolors Exported Palette - https://coolors.co/d73186-f6c233-b2b408-4f98d3-ded900-33aa74 */

/* CSS HEX */
--rose-punch: #D73186ff;
--tuscan-sun: #F6C233ff;
--old-gold: #B2B408ff;
--blue-bell: #4F98D3ff;
--golden-glow: #DED900ff;
--jungle-green: #33AA74ff;

/* CSS HSL */
--rose-punch: hsla(329, 67%, 52%, 1);
--tuscan-sun: hsla(44, 92%, 58%, 1);
--old-gold: hsla(61, 91%, 37%, 1);
--blue-bell: hsla(207, 60%, 57%, 1);
--golden-glow: hsla(59, 100%, 44%, 1);
--jungle-green: hsla(153, 54%, 43%, 1);

/* SCSS HEX */
$rose-punch: #D73186ff;
$tuscan-sun: #F6C233ff;
$old-gold: #B2B408ff;
$blue-bell: #4F98D3ff;
$golden-glow: #DED900ff;
$jungle-green: #33AA74ff;

/* SCSS HSL */
$rose-punch: hsla(329, 67%, 52%, 1);
$tuscan-sun: hsla(44, 92%, 58%, 1);
$old-gold: hsla(61, 91%, 37%, 1);
$blue-bell: hsla(207, 60%, 57%, 1);
$golden-glow: hsla(59, 100%, 44%, 1);
$jungle-green: hsla(153, 54%, 43%, 1);

/* SCSS RGB */
$rose-punch: rgba(215, 49, 134, 1);
$tuscan-sun: rgba(246, 194, 51, 1);
$old-gold: rgba(178, 180, 8, 1);
$blue-bell: rgba(79, 152, 211, 1);
$golden-glow: rgba(222, 217, 0, 1);
$jungle-green: rgba(51, 170, 116, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-right: linear-gradient(90deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-bottom: linear-gradient(180deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-left: linear-gradient(270deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-top-right: linear-gradient(45deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-bottom-right: linear-gradient(135deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-top-left: linear-gradient(225deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-bottom-left: linear-gradient(315deg, #D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);
$gradient-radial: radial-gradient(#D73186ff, #F6C233ff, #B2B408ff, #4F98D3ff, #DED900ff, #33AA74ff);